{% extends 't_wejegeh.html' %}
{% load static %}
{% block title %}<title>Mihenk taşı</title>{% endblock title %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock css_files %}
    
{% block js_alani %}  <script src="{% static 'js/mywejegeh.js' %}"></script>{% endblock js_alani %}

{% block orta_alan %}  
<h1>register sayfası</h1>



{% endblock orta_alan %}


